* {
  margin: 0;
  padding: 0;
}

#content article h1 {
  color: red;
}

#content article p {
  font-size: 18px;
}

#content p {
  color: blue;
  font-size: 33px;
}

#content aside {
  background-color: gold;
  color: red;
}
