.number {
    list-style:none;
    display: flex;
    justify-content: space-between;
    width: 500px;
    li {
        width: 100px;
        height: 100px;
        background-color: chocolate;/*   ？  ？  ？*/
    }
}